.infoPanel {
  position: absolute;
  width: 200px;
  top: 200px;
  right: 100px;
  background-color: #0f0f23;
  z-index: 999;
  border: 1px solid #29abe2;
  font-family: 'Roboto Mono', monospace;
  padding: 15px;
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minimize {
  width: 10px;
}

.minimized> :not(:first-child) {
  display: none;
}

.button {
  background: #29abe2;
  border: none;
  border-radius: 2px;
  color: #0f0f23;
  cursor: pointer;
  font-size: 1em;
  /* padding: 10px 20px; */
  text-transform: uppercase;
  transition: background 0.3s ease;
  outline: none;
  box-shadow: 0 0 10px #29abe2;
}

.button:hover {
  background: #0f0f23;
  color: #29abe2;
  box-shadow: 0 0 20px #29abe2, 0 0 20px #29abe2, 0 0 40px #29abe2;
}

h1, h2, h3 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h3 {
  margin-top: 5px;
}

p {
  margin: 0;
  font-size: 14px;
  color: #29abe2;
}

.avatar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.avatarImage {
  width: 50px;
  height: 50px;
  /* margin: 0 auto; */
  display: block;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  background-color: #29abe2;
}

.avatarImage>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarText {
  margin: 0 auto;
  color: #00ff00;
}

.location {

}